name: Check with test of memory access checks

on:
  workflow_dispatch:
    inputs:
      platform:
        description: 'An array of R-hub containers to use.'
        type: string
        default: '["gcc-asan", "clang-ubsan", "clang-asan", "valgrind"]'

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.rhub-setup.outputs.matrix }}
    steps:
      - id: rhub-setup
        run: |
          echo "matrix=$input" >> $GITHUB_OUTPUT
        env:
          input: ${{ inputs.platform }}

  build:
    runs-on: ubuntu-latest
    
    steps:
      - run: |
        echo "hello"
  # 
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: r-lib/actions/setup-tinytex@v2
  #     - run: tlmgr --version
  # 
  #     - uses: r-lib/actions/setup-pandoc@v2
  # 
  #     - uses: quarto-dev/quarto-actions/setup@v2
  # 
  #     - uses: r-lib/actions/setup-r@v2
  #       with:
  #         use-public-rspm: true
  # 
  #     - uses: r-lib/actions/setup-r-dependencies@v2
  #       with:
  #         extra-packages: any::rcmdcheck, local::.
  #         needs: check
  #         install-quarto: false
  #         install-pandoc: false
  # 
  #     - name: Build package
  #       run: R CMD build --no-manual --compact-vignettes=both .
  # 
  #     - name: Upload package artifact
  #       uses: actions/upload-artifact@v6
  #       with:
  #         name: pkg
  #         path: "*.tar.gz"
  #         retention-days: 1

  check:
    needs: [setup, build]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        config: ${{ fromJSON(needs.setup.outputs.matrix) }}
    container:
      image: ghcr.io/r-hub/containers/${{ matrix.config }}:latest

    steps:
    # - name: Download package
    #   uses: actions/download-artifact@v4
    #   with:
    #     name: pkg
    #     path: /check

    # - name: detect package manager
    #   run: |
    #     if [ -f /etc/os-release ]; then
    #         . /etc/os-release
    #         echo "OS: $NAME"
    #         if [ "$ID" = "ubuntu" ] || [ "$ID_LIKE" = "debian" ]; then
    #           echo "pm=apt-get" >> "$GITHUB_ENV"
    # 
    #         elif [ "$ID" = "fedora" ] || [ "$ID_LIKE" = "fedora" ]; then
    #           echo "pm=dnf" >> "$GITHUB_ENV"
    #         fi
    #     fi
    # 
    # - name: Install Ghostsrcipt
    #   run: |
    #     if [ "${{ env.pm }}" = "apt-get" ]; then
    #         apt-get update
    #         apt-get install -y ghostscript
    #       elif [ "${{ env.pm }}" = "dnf" ]; then
    #         dnf install -y ghostscript
    #     fi
    # 
    # - name: Manipulate CHECK_ARGS
    #   run: |
    #     if ! echo "$CHECK_ARGS" | grep -q -- --no-build-vignettes; then
    #       CHECK_ARGS="$CHECK_ARGS --no-build-vignettes"
    #     fi
    #     if ! echo "$CHECK_ARGS" | grep -q -- --no-manual; then
    #       CHECK_ARGS="$CHECK_ARGS --no-manual"
    #     fi
    #     echo "CHECK_ARGS=$CHECK_ARGS" >> $GITHUB_ENV
        
    - name: Replace double brackets with single brackets
      run: |
        sed -i.bak 's/\[\[/\[/g; s/\]\]/\]/g' r-check
      working-directory: ./usr/local/bin/

    # - name: Install dependencies and check package
    #   run: r-check
    # 
    # - name: Upload check result as artifact
    #   uses: actions/upload-artifact@v4
    #   with:
    #     name: check-results-${{ matrix.config }}
    #     path: /check
        
  # delete-build-artifact:
  #   needs: check
  #   runs-on: ubuntu-latest
  #   
  #   steps:
  #   - uses: geekyeggo/delete-artifact@v5
  #     with:
  #       name: pkg
