name: Check with test of memory access checks

on:
  workflow_dispatch:
    inputs:
      platform:
        description: 'An array of r-hub containers to use.'
        required: true
        type: string
        default: '["gcc-asan", "clang-ubsan", "clang-asan", "valgrind"]'
      check_args:
        description: |
          Additional arguments passed to R CMD check, which will be added to 
          CHECK_ARGS (CHECK_ARGS is an env variable of the r-hub containers). 
          null indicates that no arguments will be added.
        required: false
        type: string
        default: '--no-manual --no-build-vignettes'
      build_args:
        description: |
          Arguments passed to R CMD build. null indicates that no arguments will 
          be passed.
        required: false
        type: string
        default: '--no-manual --compact-vignettes=both'

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.rhub-setup.outputs.matrix }}
    steps:
      - id: rhub-setup
        run: |
          echo "matrix=$input" >> $GITHUB_OUTPUT
        env:
          input: ${{ inputs.platform }}

  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-tinytex@v2
      - run: tlmgr --version

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: quarto-dev/quarto-actions/setup@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck, local::.
          needs: check
          install-quarto: false
          install-pandoc: false

      - name: Build package
        run: |
          if [ "$args" = "null" ]; then
            R CMD build .
          else
            R CMD build $args .
          fi
        env: 
          args: ${{ inputs.build_args }}

      - name: Upload package artifact
        uses: actions/upload-artifact@v6
        with:
          name: pkg
          path: "*.tar.gz"
          retention-days: 1

  check:
    needs: [setup, build]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        config: ${{ fromJSON(needs.setup.outputs.matrix) }}
    container:
      image: ghcr.io/r-hub/containers/${{ matrix.config }}:latest

    steps:
    - name: Download package
      uses: actions/download-artifact@v4
      with:
        name: pkg
        path: /check

    - name: detect package manager
      run: |
        if [ -f /etc/os-release ]; then
            . /etc/os-release
            echo "OS: $NAME"
            if [ "$ID" = "ubuntu" ] || [ "$ID_LIKE" = "debian" ]; then
              echo "pm=apt-get" >> "$GITHUB_ENV"

            elif [ "$ID" = "fedora" ] || [ "$ID_LIKE" = "fedora" ]; then
              echo "pm=dnf" >> "$GITHUB_ENV"
            fi
        fi

    - name: Install Ghostsrcipt
      run: |
        if [ "$pm" = "apt-get" ]; then
            apt-get update
            apt-get install -y ghostscript
          elif [ "$pm" = "dnf" ]; then
            dnf install -y ghostscript
        fi

    - name: Set CHECK_ARGS
      if: ${{ inputs.check_args != 'null' }}
      run: |
        # CHECK_ARGS is an environment variable of the r-hub container
        CHECK_ARGS <- Sys.getenv("CHECK_ARGS")
        CHECK_ARGS_spl <- strsplit(CHECK_ARGS, "\\s+")[[1]]
        check <- Sys.getenv("check")
        check_spl <- strsplit(check, "\\s+")[[1]]
        l <- check_spl %in% CHECK_ARGS_spl
        CHECK_ARGS_spl <- c(check_spl[!l], CHECK_ARGS_spl)
        CHECK_ARGS <- paste(CHECK_ARGS_spl, collapse = " ")
        cat("\nCHECK_ARGS=", CHECK_ARGS, sep="", file = Sys.getenv("GITHUB_ENV"), append = TRUE)
      shell: Rscript {0}
      env:
        check: ${{ inputs.check_args }}

    - name: Install dependencies and check package
      if: ${{ !cancelled() }}
      run: |
        echo "$CHECK_ARGS"
        pkg=$(ls /check/*.tar.gz)
        echo Checking "$pkg"
        cd `dirname $pkg`
        R -q -e "pak::pkg_install('deps::$pkg', dependencies = TRUE)"
        R CMD check $CHECK_ARGS $pkg
    
    - name: Check for ASAN and UBSAN issues
      if: ${{ !cancelled() && (matrix.config == 'gcc-asan' || matrix.config == 'clang-asan' || matrix.config == 'clang-ubsan') }}
      run: |
        writeLines("-- Checking for sanitizer errors ----------------------------------------")
        out <- dir("/check", recursive=TRUE, pattern = "[.]Rout|[.][A-Za-z]+[.]log$", full.names = TRUE)
        cat("Files to check:",out, sep="\n")
        fail <- 0
        for (of in out) {
          cat("Checking:", of)
          l <- readLines(of, warn = FALSE)
          if (any(grepl("UndefinedBehaviorSanitizer|AddressSanitizer", l, fixed = TRUE))) {
             fail <- 1
          }
          if (any(grepl("runtime error:", l, fixed = TRUE))) {
            fail <- 1
          }
          if(fail) writeLines(l) else cat("✓\n")
        }
        writeLines("-------------------------------------------------------------------------")
        q(save = "no", status = fail)
      shell: Rscript {0}

    - name: Check valgrind issues
      if: ${{ !cancelled() && matrix.config == 'valgrind'}}
      run: |
        writeLines("-- Checking for valgrind errors -----------------------------------------")
        out <- dir("/check", recursive=TRUE, pattern = "[.]Rout|[.][A-Za-z]+[.]log$", full.names = TRUE)
        cat("Files to check:",out, sep="\n")
        fail <- 0
        for (of in out) {
          cat("Checking:", of)
          l <- readLines(of, warn = FALSE)
          if (any(grepl("==[0-9]+== ERROR SUMMARY: [1-9][0-9]* error", l))) {
            fail <- 1
            writeLines(l)
          }else{
            cat("✓\n")
          }
        }
        writeLines("-------------------------------------------------------------------------")
        q(save = "no", status = fail)
      shell: Rscript {0}

    - name: Upload check result as artifact
      if: '!cancelled()'
      uses: actions/upload-artifact@v4
      with:
        name: check-results-${{ matrix.config }}
        path: /check
        
  delete-build-artifact:
    needs: check
    runs-on: ubuntu-latest

    steps:
    - uses: geekyeggo/delete-artifact@v5
      with:
        name: pkg
