# modified version of https://r-hub.github.io/containers/gha.html

name: R CMD check with and R-hub container

on:
  workflow_dispatch:
    inputs:
      inpcont:
        description: 'Check container'
        required: true
        type: choice
        options:
        - 'gcc-asan'
        - 'clang-asan'
        - 'clang-ubsan'
        - 'valgrind'

jobs:
  check:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/r-hub/containers/${{ github.event.inputs.inpcont }}:latest

    steps:
    - uses: actions/checkout@v4
    - uses: r-lib/actions/setup-tinytex@v2
    - run: tlmgr --version
    - uses: quarto-dev/quarto-actions/setup@v2
    - name: Install dependencies
      run: |
        R -q -e 'pak::pkg_install(c("deps::.", "any::rcmdcheck"), dependencies = TRUE)'
    - uses: r-lib/actions/check-r-package@v2