name: build
on:
  workflow_dispatch:
    inputs:
      platform:
        description: 'A comma separated list of R-hub containers to use.'
        type: string
        default: '["gcc-asan", "clang-ubsan", "clang-asan", "valgrind"]'
jobs:
  job1:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - id: set-matrix
        run: echo "matrix=${{ inputs.platform }}" >> $GITHUB_OUTPUT
  job2:
    needs: job1
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.job1.outputs.matrix) }}
    steps:
      - run: echo "Matrix - Project ${{ matrix }}, Config ${{ matrix }}"
